{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block contenu %}



<h1>ajouter un réalisateur :</h1>
<form action={% url 'ajouter_realisateur' %} method="post">
    
    <div class="col-md-5  mx-auto ">
        {% csrf_token %}
        {{ realisateur_form | crispy }}
    </div>

    <div class="col-md-5 mx-auto text-center ">
        <button type="submit" class="btn btn-primary mt-3 px-5 ">Ajouter</button>

    </div>
    


</form>



{% endblock %}