<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoFilms </title>
    {% block styles %}
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/monstyle.css' %}">
    <script src="https://kit.fontawesome.com/42277a1206.js" crossorigin="anonymous"></script>


    {% endblock %}


</head>

<body>

    <!-- container  -->
    <div class="container-fluid">

        <!-- header  -->
        <header class="row">
            <div class="col-md-12 p-0 ">


                <nav class="navbar navbar-expand-lg navbar-dark bg-primary pt-3">

                    <div class="container-fluid">

                        <a class="navbar-brand p-3" href={% url 'index' %}><h1> <i class="fas fa-home me-2"></i> DjangoFilms </h1></a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                                <span class="navbar-brand h1 ms-5">Les Films</span>

                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'liste_films' %}>listes des films</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'ajouter_film' %}>ajouter un film</a>
                                </li>
                                <span class="navbar-brand h1 ms-5">Les Réalisateurs</span>

                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'liste_realisateurs' %}>liste des réalisateurs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'ajouter_realisateur' %}>ajouter un réalisateur</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ms-5" href="/admin"><span class="navbar-brand h1 ms-5"><i class="fas fa-cog me-3"></i>Admin</span></a>
                                </li>

                                  
                            </ul>
                        </div>

                    </div>

                </nav>



            </div>
        </header>
        <!-- fin header  -->


        <!-- contenu principale  -->
        <main class="row">
            <div class="col-md-12">

                <div class="row my-5">

                    <div class="col-sm-1 col-md-2 col-lg-1">
                    </div>

                    <div class=" col-sm-10 col-md-8 col-lg-10">
                        {% block contenu %}
                        {% endblock %}
                    </div>


                    <div class="col-sm-1 col-md-2 col-lg-1">
                    </div>

                </div>


            </div>
        </main>
        <!-- fin contenu principale -->


    </div>
    <!-- fin container  -->

          <!-- footer  -->
          <footer class="py-3 bg-primary text-white p-0 text-center ">
            <h3> projet Django </h3>
   
           {% block js %}
           <script src="{% static '/node_modules/jquery/dist/jquery.min.js' %}"></script>
           <script src="{% static '/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
           {% endblock %}
       </footer>
       <!-- fin footer  -->
</body>



</html>