{% extends "base.html" %}

{% block contenu %}



<h1>Detail du réalisateur :</h1>
<div class="card text-center px-0 my-5">

  <div class="card-body">
    <h1 class="card-title">{{realisateur.nom}}</p>
  </div>
  <div class="card-footer px-0 "><a href={% url 'modifier_realisateur' realisateur.id %}
      class="btn btn-success mx-5 px-5"><i class="far fa-edit me-3"></i>Modifier</a> <a href={% url 'supprimer_realisateur' realisateur.id %}
      class="btn btn-danger mx-5 px-5">Supprimer<i class="far fa-trash-alt ms-3"></i></a>

  </div>
</div>






{% endblock %}