{% extends "base.html" %}

{% block contenu %}



        <h1>Detail du film :</h1>
        <div class="card text-center px-0 my-5">
            <div class="card-header">
              <img src={{film.image_url}} alt="">
              <h5 class="card-title">{{film.titre}}</h5>
              {{film.classification}}
            </div>

            <div class="card-body">
              <p class="card-text">{{film.description}}</p>
              
            </div>
            <div class="card-footer px-0 ">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durée : {{film.duree}}</li>
                    <li class="list-group-item">Genre : {{film.genre}}</li>
                    <li class="list-group-item">Année de sortie : {{film.annee_sortie}}</li>
                    <li class="list-group-item"><a href={% url 'detail_realisateur' film.realisateur.id %} type="button"
                      class="btn btn-primary">Réalisateur : {{film.realisateur.nom}} <i class="far fa-arrow-alt-circle-right ms-3"></i> </a> </li>
                    <li class="list-group-item "><a href={% url 'modifier_film' film.id %} class="btn btn-success mx-5 px-5"><i class="far fa-edit me-3"></i>Modifier </a> <a href={% url 'supprimer_film' film.id %} class="btn btn-danger mx-5 px-5">Supprimer <i class="far fa-trash-alt ms-3"></i></a></li>
                  </ul>
            </div>
          </div>


        </div>

    


{% endblock %}