{% extends "base.html" %}

{% block contenu %}



{% for message in messages %}


   <div class="alert alert-success" role="alert">
    {{message}}
  </div>
{% endfor %}

<h1>Les derniers films: </h1>

<!-- gorupe de carte  -->
<div class="row  row-cols-md-1 row-cols-lg-2 g-4 g-lg-3">


  {% for film in films %}
  <div class="card text-center px-0">
    <div class="card-header">
      <img src={{film.image_url}} alt="">
      <h5 class="card-title">{{film.titre}}</h5>
      {{film.classification}}
    </div>

    <div class="card-body">
      <p class="card-text">{{film.description}}</p>

    </div>
    <div class="card-footer px-0 ">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Durée : {{film.duree}}</li>
        <li class="list-group-item">Genre : {{film.genre}}</li>
        <li class="list-group-item">Année de sortie : {{film.annee_sortie}}</li>
        <li class="list-group-item"><a href={% url 'detail_realisateur' film.realisateur.id %} type="button"
            class="btn btn-primary">Réalisateur : {{film.realisateur.nom}} <i class="far fa-arrow-alt-circle-right ms-3"></i> </a> </li>
        <li class="list-group-item"><a href={% url 'detail_film' film.id %} class="btn btn-primary px-5">Voir<i class="far fa-arrow-alt-circle-right ms-3"></i></a></li>
      </ul>
    </div>
  </div>


  {% endfor %}



</div>




{% endblock %}