{% extends "base.html" %}

{% block contenu %}


<h1>Tout les realisateurs: </h1>

<!-- pagination debut  -->
<nav aria-label="Page navigation ">
    <ul class="pagination justify-content-center py-3">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; première page </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">précédent</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.</a> 
        </li>


        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">suivant</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">dernière page &raquo;</a>
        </li>
        {% endif %}

    </ul>
</nav>





<!-- gorupe de carte  -->
<div class="row  row-cols-md-1 row-cols-lg-2 g-4 g-lg-3">

    {% for realisateur in page_obj %}

    <div class="card text-center px-0 my-5">

        <div class="card-body">
          <h1 class="card-title">{{realisateur.nom}}</p>
        </div>
        <div class="card-footer px-0 ">
            <a href={% url 'detail_realisateur' realisateur.id %} class="btn btn-primary px-5">Voir <i class="far fa-arrow-alt-circle-right ms-3"></i></a>
        </div>
      </div>
      
      

    {% endfor %}



</div>

<!-- pagination de fin  -->
<nav aria-label="Page navigation ">
    <ul class="pagination justify-content-center py-3">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; première page </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">précédent</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.</a> 
        </li>


        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">suivant</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">dernière page &raquo;</a>
        </li>
        {% endif %}

    </ul>
</nav>



{% endblock %}