{% extends "base.html" %}

{% block contenu %}


<h1>Tout les films: </h1>

<!-- pagination debut  -->
<nav aria-label="Page navigation ">
    <ul class="pagination justify-content-center py-3">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; première page </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">précédent</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.</a> 
        </li>


        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">suivant</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">dernière page &raquo;</a>
        </li>
        {% endif %}

    </ul>
</nav>





<!-- gorupe de carte  -->
<div class="row  row-cols-md-1 row-cols-lg-2 g-4 g-lg-3">

    {% for film in page_obj %}

    <div class="card text-center px-0">
        <div class="card-header">

            <img src={{film.image_url}} alt="">
            <h5 class="card-title">{{film.titre}}</h5>
            {{film.classification}}
        </div>

        <div class="card-body">
            <p class="card-text">{{film.description}}</p>

        </div>
        <div class="card-footer px-0 ">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Durée : {{film.duree}}</li>
                <li class="list-group-item">Genre : {{film.genre}}</li>
                <li class="list-group-item">Année de sortie : {{film.annee_sortie}}</li>
                <li class="list-group-item"><a href={% url 'detail_realisateur' film.realisateur.id %} type="button"
                    class="btn btn-primary">Réalisateur : {{film.realisateur.nom}} <i class="far fa-arrow-alt-circle-right ms-3"></i> </a> </li>
                <li class="list-group-item"><a href={% url 'detail_film' film.id %} class="btn btn-primary px-5">Voir<i class="far fa-arrow-alt-circle-right ms-3"></i></a></li>
              </ul>
        </div>
    </div>


    {% endfor %}



</div>

<!-- pagination de fin  -->
<nav aria-label="Page navigation ">
    <ul class="pagination justify-content-center py-3">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; première page </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">précédent</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.</a> 
        </li>


        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">suivant</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">dernière page &raquo;</a>
        </li>
        {% endif %}

    </ul>
</nav>



{% endblock %}