{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block contenu %}



<h1>ajouter un réalisateur :</h1>
<form action={% url 'modifier_realisateur' realisateur.id %} method="post">
    
    <div class="col-md-5  mx-auto ">
        {% csrf_token %}
        {{ realisateur_form | crispy }}
    </div>

    <div class="col-md-5 mx-auto text-center ">
        <button type="submit" class="btn btn-success mt-3 px-5 ">Modifier <i class="fas fa-check ms-3"></i></button>

    </div>
    


</form>



{% endblock %}